@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --brown-dark: #402218;
  --brown-light: #865439;
  --beige-dark: #C68B59;
  --beige-light: #D7B19D;
  --font-light: #d4d4d4;
  --font-dark: #202020;
}

body {
  margin: 0;
  background-color: var(--beige-light);
  font-family: 'Raleway', sans-serif;
  color: var(--font-light);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--brown-dark);
  height: 3rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

header img {
  height: 2.5rem;
  margin-right: 2rem;
}

header a {
  text-decoration: none;
  color: var(--font-light);
  margin: 0 0.5rem;
  padding: 1rem 1rem;
}

header a:hover {
  border-bottom: var(--brown-light) solid;
}

#menu-link {
  border-bottom: var(--beige-dark) solid;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-dark);
  font-size: 3rem;
}